{% extends 'base.html' %}
{% load static %}

{% block title %}
Articuno Coding LLP
{% endblock title %}

{% block content %}
 <div class="container">
    <div class="row justify-content-center mb-3">
      <div class="col-lg-6 col-md-6 col-sm-8">
        <div class="text-center fs-1 fw-bold" style="color: #0b5ed7;">Articuno Coding LLP</div>
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-8 text-center">
            <div class="fw-semibold">Articuno Coding LLP is run by IITM alumni. We are a team of web developers bringing forward experience of 4+ years into building web dev applications and offering high end solutions for your business.
            </div>
            <div class="d-flex flex-row gap-2 mt-4">
                <a type="button" class="btn btn-primary flex-fill" href="{% url 'users:dashboard' %}">Login</a>
                <a type="button" class="btn btn-dark flex-fill" href="{% url 'users:signup' %}">Sign Up</a>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}